.section-title{
    border-bottom: 2px solid rgb(var(--primary));
    padding-bottom: 7px;
    margin: 20px 0;
    display: inline-block;
}

.box-sidebar{
    max-height: 500px;
    overflow-y: auto;
}

.box-checkout{
    padding: 0px;
    margin: 3px;
    background-color: #f6f5f5;
}

.box-checkout > div > .btn{
    border-radius: 0px;
}
