.categoria{
    list-style: none;
    padding: 7px;
    margin-right: 20px;
    border-radius: 5px;
    border-bottom: 3px;
}

.categoria img{
    margin: 0;
    width: 80px;
    border-radius: 5px;
    vertical-align: baseline;
}

.categoria b{
    margin-bottom: 0;
}

.restaurante-infos span{
    vertical-align: middle;
    color: #626264;
}

.restaurante-infos span.mdi-star{
    color: #facd5d;
}


.restaurante-infos p{
    font-size: 13px;
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
    color: #626264;
}

.pl-1{
    margin-left: 10px;
}